web3
Flask
Flask-session
cryptography
qrcode
opencv-python
flask-cors
ipfshttpclient
celery
redis
requests
python-dotenv
pillow
pymongo
pandas
bcrypt
easyocr
numpy
pyzbar
torch
pycryptodome
pytesseract
